@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/pretendard/300.css';
@import '@fontsource/pretendard/400.css';
@import '@fontsource/pretendard/500.css';
@import '@fontsource/pretendard/700.css';

:root {
  --background: #ffffff;
}

body {
  background: var(--background);
  font-family: Pretendard, sans-serif;
}
